asgiref==3.11.1
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==46.0.7
defusedxml==0.7.1
Django==5.1.1
django-cors-headers==4.3.0
django-extensions==3.2.3
django-templated-mail==1.1.1
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.1
djoser==2.3.1
gunicorn==21.2.0
idna==3.11
iniconfig==2.3.0
oauthlib==3.3.1
packaging==26.1
pillow==11.0.0
pluggy==1.6.0
psycopg2-binary==2.9.11
pycparser==3.0
Pygments==2.20.0
PyJWT==2.12.1
pytest==8.3.3
pytest-django==4.9.0
pytest-pythonpath==0.7.3
python-dotenv==1.0.0
python3-openid==3.2.0
pytz==2026.1.post1
PyYAML==6.0.1
requests==2.33.1
requests-oauthlib==2.0.0
social-auth-app-django==5.4.3
social-auth-core==4.8.5
sqlparse==0.5.5
urllib3==2.6.3
webcolors==1.11.1
